@font-face {
  font-family: 'Rockwell';
  src: url('fonts/rockwell-gras1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PsyType';
  src: url('fonts/PsyType.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Widock';
  src: url('fonts/Widock TRIAL Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Psytype';
  font-size: 36px;
  color: #1C1B17;
}

.header {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Rockwell';
  font-size: 32px;
  font-weight: bold;
  color: #ED6D2C;
}

.nav a {
  text-decoration: none;
  color: #ED6D2C;
  margin-left: 25px;
  font-size: 36px;
}

.nav a:hover {
  color: #E84810;
  text-decoration: underline;
}

h2 {
  font-family: 'Widock';
  font-size: 40px;
  color: #1C1B17;
  margin-bottom: 30px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  background: url('img/backmain.png') center/cover no-repeat;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ED6D2C;
  position: relative;
  margin-top: -80px;
}

.hero__content {
  z-index: 1;
  text-align: center;
}


.hero h1 {
  font-family: 'Rockwell';
  font-size: 175px;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  text-align: left;
}

.hero p {
  font-family: 'PsyType';
  font-size: 67px;
  color: #ED6D2C;
  display: block;
  text-align: left;
}

.about {
  background-color: #fff;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.about__text {
  flex: 1 1 50%;
}

.about__text-block p {
  margin-bottom: 5px;
}
.about__text-block {
  margin-bottom: 40px;
}

.about__image {
  flex: 1 1 40%;
  text-align: center;
}

.about__image img {
  max-width: 100%;
  height: auto;
}


.courses__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.course-card {
  flex: 1 1 30%;
  max-width: 440px;
  min-width: 340px;
  background-color: #1C1B17;
  border-radius: 70px;
  height: 580px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-bottom: 40px;
}
.course-card__image {
  position: relative;
  text-align: left;
  padding: 34px 0;
}
.course-card__image img {
  width: 88%;
  display: block;
  margin: 0 auto;
}
.course-card__title {
  position: absolute;
  top: 40px;
  left: 25px;
  font-family: 'Widock';
  font-size: 40px;
  color: #fff;
  padding: 5px 10px;
}
.course-card__info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: -30px;
}
.course-card__type {
  font-family: 'Widock';
  font-size: 24px;
}
.course-card__price {
  font-family: 'PsyType';
  font-size: 40px;
}
.course-card__cost {
  font-family: 'Widock';
  font-size: 24px;
}
.course-card__button {
  margin-top: 5px;
  width: 271px;
  height: 76px;
  align-self: center;
  padding: 10px 20px;
  background-color: #ED6D2C;
  color: #fff;
  font-family: 'Widock';
  font-size: 24px;
  border: none;
  border-radius: 100px;
}
.course-card__button:hover {
  background-color: #E84810;
}

.courses__link {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}
.catalog-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: 'PsyType';
  font-size: 40px;
  color: #ED6D2C;
  text-decoration: none;
}
.catalog-link:hover {
  color: #E84810;
  text-decoration: underline;
}
.catalog-link__icon {
  width: 50px;
  height: 50px;
}

.studio {
  padding: 80px 0;
  background-color: #fff;
}

.studio__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.studio h2 {
  margin-bottom: 20px;
}

.studio__left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.studio__text {
  font-family: 'PsyType';
  font-size: 36px;
  line-height: 1.4;
  color: #1C1B17;
  max-width: 90%;
}

.studio__address {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.studio__map-icon {
  width: 58px;
  height: 75px;
}

.studio__address-text {
  font-family: 'PsyType';
  font-size: 48px;
  color: #1C1B17;
}

.studio__photo-small img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
}

.studio__right {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.studio__photo-large {
  width: 554px;
  height: auto;
  object-fit: cover;
  margin-top: 0;
}

@media (min-width: 1000px) {
  .studio__left,
  .studio__right {
    flex: 1 1 48%; /* два блока рядом, каждый занимает примерно половину */
  }
}


.footer {
  background-color: #1C1B17;
  color: #fff;
  padding: 60px 0 30px 0;
}

.footer__title h2 {
  font-family: 'Widock';
  font-size: 40px;
  color: #fff;
  margin: 0;
  line-height: 1.2;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'PsyType';
  font-size: 36px;
}

.footer__icon {
  width: 60px;
  height: 60px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  font-family: 'PsyType';
  font-size: 32px;
  color: #A99F9F;
  padding-top: 15px;
}
