@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/rockwell-gras1.ttf') format('truetype');
}

@font-face {
  font-family: 'PsyType';
  src: url('../fonts/PsyType.ttf') format('truetype');
}

@font-face {
  font-family: 'Widock';
  src: url('../fonts/Widock-TRIAL-Bold.otf') format('opentype');
}


body {
  font-family: 'Psytype';
  font-size: 36px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header__grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px 80px;
}

.logo {
  font-family: 'Rockwell';
  font-size: 32px;
  font-weight: bold;
  color: #ED6D2C;
}

.nav a {
  text-decoration: none;
  color: #ED6D2C;
  margin-left: 25px;
  font-size: 36px;
}

.nav a:hover {
  color: #E84810;
  text-decoration: underline;
}

.kvart-title {
  padding: 100px 80px 40px;
  max-width: 1300px;
}

.kvart-title h1 {
  font-family: 'Widock';
  font-size: 77px;
  color: #ED6D2B;
  margin: 0;
}

.kvart-title p {
  font-family: 'PsyType';
  font-size: 67px;
  color: #ED6D2B;
  margin: 15px 0 0;
}

.tickets {
  display: grid;
  gap: 47px;
  padding: 40px 80px 100px;
}

.ticket {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  align-items: center;

  width: 100%;
  aspect-ratio: 1406 / 598;

  background-image: url("../img/ticket.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  padding: 55px 80px;
  box-sizing: border-box;
}

.ticket__info h2 {
  color: #ff6a1a;
  font-family: 'Widock';
  font-size: 60px;
  margin-bottom: 25px;
}

.ticket__info p {
  font-size: 26px;
  line-height: 1.45;
  max-width: 650px;
}

.ticket__place-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}

.ticket__map-icon {
  width: 70px;
  height: 90px;
}

.ticket__btn {
  background-color: #ED6D2C;
  color: #fff;
  font-family: 'Widock';
  font-size: 32px;
  padding: 22px 65px;
  border-radius: 100px;
  justify-self: end;
}

.ticket__btn:hover {
  background-color: #E84810;
}

.ticket__date {
  text-align: right;
  font-family: 'Widock';
  padding-right: 60px;
}

.ticket__day {
  display: block;
  font-size: 150px;
  line-height: 0.9;
}

.ticket__month {
  display: block;
  font-size: 120px;
  line-height: 0.9;
}

.ticket__time {
  display: block;
  font-size: 60px;
  margin-top: 10px;
}


.link {
  display: grid;
  justify-content: end;
  margin-top: -30px;
}

.catalog-link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  font-family: 'PsyType';
  font-size: 40px;
  color: #ED6D2C;
  text-decoration: none;
}

.catalog-link:hover {
  color: #E84810;
  text-decoration: underline;
}

.catalog-link__icon {
  width: 50px;
  height: 50px;
}

.footer__grid {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 30px;
  padding: 60px 80px 30px;
  background-color: #1C1B17;
}

.footer__title h2 {
  font-family: 'Widock';
  font-size: 40px;
  color: #fff;
  margin: 0;
  line-height: 1.2;
}

.footer__contacts {
  display: grid;
  gap: 15px;
}

.footer__contact {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  gap: 15px;
  font-family: 'PsyType';
  font-size: 36px;
  color: #fff;
}

.footer__icon {
  width: 60px;
  height: 60px;
}

.footer__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'PsyType';
  font-size: 28px;
  color: #A99F9F;
}